table {
  margin-top: 20px;

  tbody {
    tr {
     &:hover {
       cursor: pointer;
       background: aliceblue;
       transition: all 1s;
       box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
     }
    }
  }

  td {
    vertical-align: middle;
    font-size: 9px;
  }

  th {
    font-size: 12px;
  }
}

