.container {
  margin: 50px;

  button {
    margin-top: 20px;
    height: 35px;
    width: 125px;
    padding: 0px;

    a {
      color: white;
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
